<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         colors="true">
  <testsuites>
     <testsuite name="Secureimage test suite">
       <directory suffix=".php">./tests</directory>
     </testsuite>
   </testsuites>
</phpunit>
